<doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chess@home</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/worker.js"></script>
    
    <script>
    window.onload = function () {
    
      var start = function() {
      
        //No webworker support!
        if (!window.Worker) return;
        
        //Defined in worker.js
        startWorker({host:'localhost','port':3000},'iframe-'+Math.random(),'/engine.js',io,window.Worker,true);
      }
    
      if (!window.console) {
        window.console = {
          'log':function() {},
          'error':function() {},
          'warn':function() {}
        }
      }

      // Cookie functions from PPK
      function createCookie(name, value, days) {
        var expires = '';
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = '; expires=' + date.toGMTString();
        }
        document.cookie = name + '=' + value + expires + '; path=/';
      };

      function readCookie(name) {
        var nameEQ = name + '=';
        var ca = document.cookie.split(';');
        for (var i = 0 ; i < ca.length ; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1, c.length)
          };
          if (c.indexOf(nameEQ) == 0) {
            return c.substring(nameEQ.length, c.length)
          };
        }
        return undefined;
      };


      document.getElementsByTagName('div')[0].onclick = function(event) {
        window.open('/', 'Chess@home');
      };

      document.getElementsByTagName('input')[0].onclick = function(event) {
        event.stopPropagation();
      };

      document.getElementsByTagName('input')[0].onchange = function(event) {
        if (document.getElementsByTagName('input')[0].checked) {
          start();
        } else {
          emitter.emit('terminate');
        }

        createCookie('chessathome_worker', document.getElementsByTagName('input')[0].checked);
      };

      var shouldRun = readCookie('chessathome_worker');

      if (shouldRun !== 'false' && shouldRun !== 'true') {
        document.getElementsByTagName('input')[0].checked = true;
        start();
        createCookie('chessathome_worker', true);
      } else if (shouldRun === 'true') {
        document.getElementsByTagName('input')[0].checked = true;
        start();
      }
    };
    </script>
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
      div {
        height: 26px;
        width: 120px;
        background: url('/img/iframe.png');
        overflow: hidden;
      }
      div input {
        float: right;
        margin-right: 10px;
        margin-top: 8px;
      }
    </style>
  </head>
  <body>
    <div><input type="checkbox" title="(De)activate computing"></div>
  </body>
</html>